<!DOCTYPE html>
<html lang="en" class="h-100">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  <% include partials/head.ejs %>
  <body
    class="d-flex flex-column h-100 center-ui"
    onload='loadPost("<%=eventId %>", "<%= postId %>")'
  >
    <div class="nav">
      <a href="/events/<%=eventId %>"
        ><img
          src="https://image.flaticon.com/icons/svg/271/271220.svg"
          class="back-button"
      /></a>
      <span>Comments</span>
      <p></p>
    </div>

    <main role="main" class="flex-shrink-0" id="posts">
      <div class="empty"></div>
    </main>

    <footer class="footer mt-auto py-3 ft-color ft-stick">
      <form
        id="addComment"
        onsubmit="newComment('<%= eventId %>','<%= postId %>')"
      >
        <div class="postInLine">
          <input type="text" name="text" id="text" class="box" />
          <input type="submit" name="g" value="Post" id="g" />
        </div>
      </form>
    </footer>
  </body>
</html>
